 @model SachOnline.Models.KHACHHANG

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÊM KHÁCH HÀNG</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">Họ & tên:</label>
        <div class="col-md-10">
            <input type="text" size="70" name="sHoTen" value="@ViewBag.HoTen"
                   required />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Tài khoản:</label>
        <div class="col-md-10">
            <input type="text" size="70" name="sTaiKhoan" value="@ViewBag.TaiKhoan"
                   required />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Mật khẩu:</label>
        <div class="col-md-10">
            <input type="text" size="70" name="sMatKhau" value="@ViewBag.MatKhau"
                   required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Email:</label>
        <div class="col-md-10">
            <input type="email" size="70" name="sEmail" value="@ViewBag.Email"
                   required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Địa chỉ:</label>
        <div class="col-md-10">
            <input type="text" size="70" name="sDiaChi" value="@ViewBag.DiaChi"
                   required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Số điện thoại:</label>
        <div class="col-md-10">
            <input type="tel" size="70" name="sDienThoai" value="@ViewBag.DienThoai"
                   required pattern="\d{10}" maxlength="10" />
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">Ngày sinh:</label>
        <div class="col-md-10">
            <input type="date" size="20" name="sNgaySinh" value="@ViewBag.NgaySinh"
                   required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
